

<!-- <div class="container">
  <p> Ask your coach anything</p>
  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline" action="answer">
        <input type="text" name="question" class="form-group">
        <input type="submit" value="Ask!" class ="btn btn-primary">
      </form>
    </div>
  </div>
</div>
 -->
<div class="container">

  <div class="row">

<!--     <div class="col-xs-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4"> -->
    <div class="col-sm-4 offset-sm-4">
      <p> Ask your coach anything</p>
      <form action="answer">
        <div class="form-group form-inline" style="width:100%">
          <input type="text" class="form-control-lg" name="question" placeholder="Ask your question">
          <input type="submit" value="Ask!" class ="btn btn-primary form-control-lg">
        </div>
      </form>
    </div>

  </div>


</div>


